   # Python
   __pycache__/
   *.py[cod]
   .env
   .venv/
   *.egg-info/
   
   # Jupyter Notebooks
   .ipynb_checkpoints/
   
   # OS
   .DS_Store
   Thumbs.db
   
   # dbt
   target/
   dbt_packages/
   logs/